@model Pumpkin.Beer.Taste.Views.TagHelpers.TastingCardComponent

@{
    /*
     * This is a WIP, but this will let us standardize the tasting crads and gives us slots!!
     * https://razor-components.techgems.net/
    */
}

<h4>CARD</h4>

<div>
    @Model.ChildContent
</div>
