<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blind Taste Test</title>
    <link rel="stylesheet" href="~/lib/bootswatch/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script defer src="~/lib/alpinejs/cdn.min.js"></script>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="~/">Blind Taste Test</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <partial name="_LoginPartial" />
        </div>
    </nav>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© 2024 TBerra Software LLC</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

                <svg class="bi me-2" fill="white" width="40" height="32" version="1.1" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg">
                    <path d="m1143.8 205.12v-148.88c0-14.918-5.9258-29.227-16.477-39.773-10.547-10.551-24.855-16.477-39.773-16.477h-975c-14.918 0-29.227 5.9258-39.773 16.477-10.551 10.547-16.477 24.855-16.477 39.773v148.88l-56.117 467.64c-0.09375 0.73828-0.13672 1.4844-0.13281 2.2305v468.75c0 14.918 5.9258 29.227 16.477 39.773 10.547 10.551 24.855 16.477 39.773 16.477h1087.5c14.918 0 29.227-5.9258 39.773-16.477 10.551-10.547 16.477-24.855 16.477-39.773v-468.75c0.003906-0.74609-0.039062-1.4922-0.13281-2.2305zm-1031.2-167.62h975c4.9727 0 9.7422 1.9766 13.258 5.4922 3.5156 3.5156 5.4922 8.2852 5.4922 13.258v131.25h-150c-6.6992 0-12.887 3.5742-16.238 9.375-3.3477 5.8008-3.3477 12.949 0 18.75 3.3516 5.8008 9.5391 9.375 16.238 9.375h152.12l51.75 431.25h-16.367v-37.5c-0.074219-29.492-13.949-57.246-37.5-75l-38.645-28.969-15.188-121.52c5.0938-0.54297 9.7227-3.207 12.758-7.3359 3.0352-4.125 4.1914-9.3398 3.1914-14.363-1-5.0273-4.0664-9.3984-8.4492-12.051l6.8242-13.633v0.003906c2.2227-4.4492 2.5859-9.5938 1.0156-14.309l-14.477-43.445v0.003906c-2.4883-7.4609-7.2617-13.953-13.641-18.551-6.3789-4.6016-14.043-7.0781-21.91-7.082h-85.461c-7.8789-0.011719-15.559 2.4609-21.953 7.0586-6.3945 4.6016-11.18 11.102-13.672 18.574l-14.477 43.445v-0.003906c-1.5703 4.7148-1.207 9.8594 1.0117 14.309l6.8242 13.633 0.003906-0.003906c-4.3867 2.6523-7.4531 7.0234-8.4531 12.051-1 5.0234 0.16016 10.238 3.1953 14.363 3.0312 4.1289 7.6641 6.793 12.758 7.3359l-15.188 121.52-38.57 28.969c-23.551 17.754-37.426 45.508-37.5 75v37.5h-37.5v-37.5c-0.074219-29.492-13.949-57.246-37.5-75l-38.645-28.969-15.188-121.52c5.0938-0.54297 9.7227-3.207 12.758-7.3359 3.0352-4.125 4.1914-9.3398 3.1914-14.363-1-5.0273-4.0664-9.3984-8.4492-12.051l6.8242-13.633v0.003906c2.2227-4.4492 2.5859-9.5938 1.0156-14.309l-14.477-43.445v0.003906c-2.4883-7.4609-7.2617-13.953-13.641-18.551-6.3789-4.6016-14.043-7.0781-21.91-7.082h-85.461c-7.8789-0.011719-15.559 2.4609-21.953 7.0586-6.3945 4.6016-11.18 11.102-13.672 18.574l-14.477 43.445v-0.003906c-1.5703 4.7148-1.207 9.8594 1.0117 14.309l6.8242 13.633 0.003906-0.003906c-4.3867 2.6523-7.4531 7.0234-8.4531 12.051-1 5.0234 0.16016 10.238 3.1953 14.363 3.0312 4.1289 7.6641 6.793 12.758 7.3359l-15.188 121.52-38.57 28.969c-23.551 17.754-37.426 45.508-37.5 75v37.5h-37.5v-37.5c-0.074219-29.492-13.949-57.246-37.5-75l-38.645-28.969-15.188-121.52c5.0938-0.54297 9.7227-3.207 12.758-7.3359 3.0352-4.125 4.1914-9.3398 3.1914-14.363-1-5.0273-4.0664-9.3984-8.4492-12.051l6.8242-13.633v0.003906c2.2227-4.4492 2.5859-9.5938 1.0156-14.309l-14.477-43.445v0.003906c-2.4883-7.4609-7.2617-13.953-13.641-18.551-6.3789-4.6016-14.043-7.0781-21.91-7.082h-85.461c-7.8789-0.011719-15.559 2.4609-21.953 7.0586-6.3945 4.6016-11.18 11.102-13.672 18.574l-14.477 43.445v-0.003906c-1.5703 4.7148-1.207 9.8594 1.0117 14.309l6.8242 13.633 0.003906-0.003906c-4.3867 2.6523-7.4531 7.0234-8.4531 12.051-1 5.0234 0.16016 10.238 3.1953 14.363 3.0312 4.1289 7.6641 6.793 12.758 7.3359l-15.188 121.52-38.57 28.969c-23.551 17.754-37.426 45.508-37.5 75v37.5h-16.367l51.75-431.25h152.12c6.6992 0 12.887-3.5742 16.238-9.375 3.3477-5.8008 3.3477-12.949 0-18.75-3.3516-5.8008-9.5391-9.375-16.238-9.375h-150v-131.25c0-4.9727 1.9766-9.7422 5.4922-13.258 3.5156-3.5156 8.2852-5.4922 13.258-5.4922zm807.75 298.55 12.02-36.055h85.461l12.02 36.055-10.086 20.195h-89.328zm-15.375 208.73c8.1211-6.125 13.426-15.262 14.719-25.352l15.711-125.62h79.387l14.062 112.5h-53.754c-6.6992 0-12.887 3.5742-16.238 9.375-3.3477 5.8047-3.3477 12.949 0 18.75 3.3516 5.8047 9.5391 9.375 16.238 9.375h69c0.39453 0.32031 0.71094 0.71094 1.125 1.0312l38.625 28.914c14.129 10.652 22.457 27.305 22.5 45v37.5h-262.5v-37.5c0.042969-17.695 8.3711-34.348 22.5-45zm-359.62-208.73 12.02-36.055h85.461l12.02 36.055-10.086 20.195h-89.328zm-15.375 208.73c8.1211-6.125 13.426-15.262 14.719-25.352l15.711-125.62h79.387l14.062 112.5h-53.754c-6.6992 0-12.887 3.5742-16.238 9.375-3.3477 5.8047-3.3477 12.949 0 18.75 3.3516 5.8047 9.5391 9.375 16.238 9.375h69c0.39453 0.32031 0.71094 0.71094 1.125 1.0312l38.625 28.914c14.129 10.652 22.457 27.305 22.5 45v37.5h-262.5v-37.5c0.042969-17.695 8.3711-34.348 22.5-45zm-359.62-208.73 12.02-36.055h85.461l12.02 36.055-10.086 20.195h-89.328zm-15.375 208.73c8.1328-6.1367 13.441-15.297 14.719-25.406l15.711-125.62h79.387l14.062 112.5h-53.754c-6.6992 0-12.887 3.5742-16.238 9.375-3.3477 5.8008-3.3477 12.949 0 18.75 3.3516 5.8008 9.5391 9.375 16.238 9.375h69c0.39453 0.32031 0.71094 0.71094 1.125 1.0312l38.625 28.969c14.129 10.652 22.457 27.305 22.5 45v37.5h-262.5v-37.5c0.042969-17.695 8.3711-34.348 22.5-45zm988.88 617.72h-1087.5c-4.9727 0-9.7422-1.9766-13.258-5.4922-3.5156-3.5156-5.4922-8.2852-5.4922-13.258v-450h1125v450c0 4.9727-1.9766 9.7422-5.4922 13.258-3.5156 3.5156-8.2852 5.4922-13.258 5.4922z" />
                    <path d="m356.25 225h487.5c9.9453 0 19.484-3.9492 26.516-10.984 7.0352-7.0312 10.984-16.57 10.984-26.516v-75c0-9.9453-3.9492-19.484-10.984-26.516-7.0312-7.0352-16.57-10.984-26.516-10.984h-487.5c-9.9453 0-19.484 3.9492-26.516 10.984-7.0352 7.0312-10.984 16.57-10.984 26.516v75c0 9.9453 3.9492 19.484 10.984 26.516 7.0312 7.0352 16.57 10.984 26.516 10.984zm0-112.5h487.5v75h-487.5z" />
                    <path d="m750 825h-300c-9.9453 0-19.484 3.9492-26.516 10.984-7.0352 7.0312-10.984 16.57-10.984 26.516v150c0 9.9453 3.9492 19.484 10.984 26.516 7.0312 7.0352 16.57 10.984 26.516 10.984h300c9.9453 0 19.484-3.9492 26.516-10.984 7.0352-7.0312 10.984-16.57 10.984-26.516v-150c0-9.9453-3.9492-19.484-10.984-26.516-7.0312-7.0352-16.57-10.984-26.516-10.984zm0 187.5h-300v-150h300z" />
                    <path d="m1007.3 846.26c-3.0352-6.3867-7.8281-11.781-13.812-15.547-5.9883-3.7656-12.922-5.7461-19.996-5.7148h-110.98c0-19.891-7.9023-38.969-21.969-53.031-14.062-14.066-33.141-21.969-53.031-21.969h-375c-19.891 0-38.969 7.9023-53.031 21.969-14.066 14.062-21.969 33.141-21.969 53.031h-110.98c-9.4648 0-18.582 3.582-25.52 10.023-6.9336 6.4414-11.18 15.266-11.879 24.707-0.69922 9.4414 2.1992 18.797 8.1094 26.188l41.25 51.582-41.25 51.562c-5.918 7.3945-8.8203 16.75-8.125 26.195 0.69922 9.4453 4.9414 18.277 11.883 24.723 6.9375 6.4414 16.059 10.023 25.531 10.02h110.98c0 19.891 7.9023 38.969 21.969 53.031 14.062 14.066 33.141 21.969 53.031 21.969h375c19.891 0 38.969-7.9023 53.031-21.969 14.066-14.062 21.969-33.141 21.969-53.031h110.98c9.4648 0 18.582-3.582 25.52-10.023 6.9336-6.4414 11.18-15.266 11.879-24.707 0.69922-9.4414-2.1992-18.797-8.1094-26.188l-41.25-51.582 41.25-51.562c4.4453-5.5 7.2305-12.152 8.0312-19.18 0.79688-7.0273-0.41797-14.137-3.5117-20.496zm-780.77 166.24 41.25-51.562c5.3633-6.6328 8.2891-14.906 8.2891-23.438s-2.9258-16.805-8.2891-23.438l-41.25-51.562h110.98v150zm598.48 37.5c0 9.9453-3.9492 19.484-10.984 26.516-7.0312 7.0352-16.57 10.984-26.516 10.984h-375c-9.9453 0-19.484-3.9492-26.516-10.984-7.0352-7.0312-10.984-16.57-10.984-26.516v-225c0-9.9453 3.9492-19.484 10.984-26.516 7.0312-7.0352 16.57-10.984 26.516-10.984h375c9.9453 0 19.484 3.9492 26.516 10.984 7.0352 7.0312 10.984 16.57 10.984 26.516zm107.23-135.94c-5.3633 6.6328-8.2891 14.906-8.2891 23.438s2.9258 16.805 8.2891 23.438l41.25 51.562h-110.98v-150h110.98z" />
                    <path d="m525 937.5h150c6.6992 0 12.887-3.5742 16.238-9.375 3.3477-5.8008 3.3477-12.949 0-18.75-3.3516-5.8008-9.5391-9.375-16.238-9.375h-150c-6.6992 0-12.887 3.5742-16.238 9.375-3.3477 5.8008-3.3477 12.949 0 18.75 3.3516 5.8008 9.5391 9.375 16.238 9.375z" />
                    <path d="m637.5 956.25h-75c-6.6992 0-12.887 3.5742-16.238 9.375-3.3477 5.8008-3.3477 12.949 0 18.75 3.3516 5.8008 9.5391 9.375 16.238 9.375h75c6.6992 0 12.887-3.5742 16.238-9.375 3.3477-5.8008 3.3477-12.949 0-18.75-3.3516-5.8008-9.5391-9.375-16.238-9.375z" />
                </svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            </ul>
        </footer>
    </div>

    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
