@using Microsoft.AspNetCore.Identity

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <partial name="_NavLinksPartial" />

            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-page="/ManageBlind/Index">Create/Manage Tastings</a>
            </li>
        </ul>
        
        <div class="d-flex">
            <a asp-area="Identity" asp-page="/Account/Logout" title="Manage">@User.Identity!.Name</a>
        </div>
    }
    else
    {
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <partial name="_NavLinksPartial" />
        </ul>
        <span>
            <a class="nav-link text-light" asp-area="" asp-page="/Account/Login">Login/Register</a>
        </span>
    }
</div>

