@using Microsoft.AspNetCore.Identity


@if (User.Identity?.IsAuthenticated ?? false)
{
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-page="/ManageBlind/Index">Create/Manage Tastings</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity!.Name!</a>
            </li>
        </ul>
        
        <form class="d-flex" class="form-inline" asp-area="Identity" asp-page="/Account/Signout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>
    </div>
}
else
{
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
            </li>
        </ul>
        <span>
            <a class="nav-link text-warning" asp-area="" asp-page="/Account/Login">Login/Register</a>
        </span>
    </div>
}
