@page
@model Pumpkin.Beer.Taste.Pages.Account.SignoutModel
@{
}

<form method="post">
    <p>Are you sure you want to sign out?</p>
    <input type="submit" class="btn btn-warning" value="Yes sign me out" />
</form>
