@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
@inject SignInManager<IdentityUser> SignInManager

<div class="text-center">
    <h1 class="display-4 text-warning">Happy Halloween! 👻 🎃</h1>
    @if (!SignInManager.IsSignedIn(User))
    {
        <p>
            Click <a asp-area="Identity" asp-page="/Account/Register">Register</a> in the upper-right or
            <a asp-area="Identity" asp-page="/Account/Login">Login</a> to get started!
        </p>
    }
</div>

@if (SignInManager.IsSignedIn(User))
{
    <hr />

    <h2>Open Tastings:</h2>

    <ul class="list-unstyled">
        @foreach (var blind in Model.Blinds)
        {
            <li>
                <h3><a asp-area="Identity" asp-page="/Account/Login">@blind.Name</a></h3>
            </li>
        }
    </ul>
}
